
.jogo {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 90%;
  margin: 0 auto;
  gap: 40px;
}

/* Seção do cookie (esquerda) */
.seção-cookie {
  flex: 1;
  text-align: center;
}

.lado-direito {
  display:flex;
  flex-direction: column;
}

.seção-upgrades {
  width: 400px;
  text-align: left;
  background-color: #fffae0;
  padding: 20px;
  border-radius: 20px;
  border: 4px solid #000;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);

}


/* Seção das construções (direita) */
.seção-construções {
  width: 400px;
  text-align: left;
  background-color: #fffae0;
  padding: 20px;
  border-radius: 20px;
  border: 4px solid #000;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  max-height: 500px;        /* tamanho da caixa de construções*/
  overflow-y: auto;          /* habilita scroll do mouse */
  scrollbar-width: thin;     /* para o Firefox */
  scrollbar-color: #f06d06 #fff;
}

.seção-construções {
  text-align: center;
  margin-bottom: 20px;
}

.seção-construções::-webkit-scrollbar {
  width: 8px;
}
.seção-construções::-webkit-scrollbar-thumb {
  background-color: #f06d06;
  border-radius: 8px;
}
.seção-construções::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 8px;
}


#cookie
{
	background: none;
	position:relative;
	left:0px;
	cursor:pointer;
  border: none
}
#cookie:hover
{
  transform: scale(1.05);
}


#cookie2
{
  background: url('https://images.unsplash.com/photo-1590400926865-1c70a2586bb5?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE3NDcxOTMxMTh8&ixlib=rb-4.1.0&q=85') no-repeat center center;
  background-size: cover;
  font-size: 40px;
  color: #ffffff;
  padding: 20px;
  border-radius: 20px;
  border: 5px solid #000000;
  position: relative;
  left:0px;
}

#cookie2:hover {
  box-shadow: 0 0 20px #f06d06;
  transform: scale(1.05);
}



.construcoes {
  background: #f0f000;
  font-size: 24px;
  color: #000;
  padding: 15px;
  border-radius: 10px;
  border: 3px solid #000;
  margin: 10px;
  transition: all 0.2s ease;
}

.construcoes:hover {
  background-color: #f06d06;
  transform: scale(1.05);
}



.hidden {
  display: none;
}

.showing {
  display: block;
  font-family: Arial, sans-serif;
  background-color: #f06d06;
  color: #000000;
  width: 400px;
  padding: 20px;
  border-radius: 20px;
  border: 3px solid #000000;
}

.escondido {
  display: block;
  font-family: Arial, sans-serif;
  background-color: #f06d06;
  color: #000000;
  width: 400px;
  padding: 20px;
  border-radius: 20px;
  border: 3px solid #000000;
}


body {
  font-family: system-ui;
  background: #00f0f0;
  color: #000000;
  text-align: center;
}

@keyframes bounce {
  0%   { transform: scale(1) translateY(0); }
  30%  { transform: scale(0.9) translateY(0); }
  50%  { transform: scale(1.1) translateY(0); }
  75%  { transform: scale(1.05) translateY(0); }
  100% { transform: scale(1) translateY(0); }
}

.bounce {
  animation: bounce 0.3s ease;
}